<script>
  $.ajax({url: "/stats/<%= user_id %>/<%= name %>.json", success: function(result){
    var parsed = $.parseJSON(result)
    var data = [{"label":"Read "+parsed["read_pct"], "value":parsed["read"]}, 
            {"label":"Unread "+parsed["unread_pct"], "value":parsed["unread"]}];
    nv.addGraph(function() {
      var chart = nv.models.pieChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .showLabels(true);

        d3.select("#<%= name %> svg")
            .datum(data)
          .transition().duration(1200)
            .call(chart);

      return chart;
    });
  }});
</script>
<h2><%= name.split("_").collect{|x| x.capitalize}.join(" ") %></h2>
<div id="<%= name %>" style="width:600px;height:800px">
  <svg style="height:500px;width:800px"></svg>
</div>
