<% if @user %>
<div class="row">
  <div class="span6">
    <%= partial :"partials/_political_leanings", locals: {name: "political_leanings", user_id: @user.id} %>
  </div>
  <div class="span6">
    <%= partial :"partials/_sentiment", locals: {name: "sentiment", user_id: @user.id} %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= partial :"partials/_punchcard", locals: {name: "punchcard", user_id: @user.id} %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= partial :"partials/_timeline", locals: {name: "timeline", user_id: @user.id} %>
  </div>
</div>

<div class="row">
  <div class="span5">
    <%= partial :"partials/_read_unread", locals: {name: "read_unread", user_id: @user.id} %>
  </div>
  <div class="span7">
    <%= partial :"partials/_word_counts", locals: {name: "word_counts", user_id: @user.id} %>
  </div>
</div>
<%= partial :"partials/_read_dont_read", locals: {name: "read_dont_read", user_id: @user.id} %>
<div class="row">
  <div class="span8">
    <%= partial :"partials/_top_terms", locals: {name: "top_terms", user_id: @user.id} %>
  </div>
  <div class="span4">
    <%= partial :"partials/_sources", locals: {name: "sources", user_id: @user.id} %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= partial :"partials/_term_network", locals: {name: "term_network", user_id: @user.id} %>
  </div>
</div>
<% end %>